---
import BaseLayout from "../layouts/BaseLayout.astro";
import BaseCard from "../components/BaseCard.astro";
import TimeLine from "../components/page/TimeLine.astro";
---

<!doctype html>
<BaseLayout PageID="about">
  <BaseCard title="About Frosti">
    <h1 id="h1">Habiliades</h1>
   <h2 id="h2">Tecnologías utilizadas</h2>
    <h5 id="h2">Frameworks Backend</h5>
    <ul class="timeline timeline-vertical">
      <li>
        <TimeLine time="Mar 17, 2019" left="true" check="true">
          <a href="https://laravel.com" target="_blank">Laravel</a></TimeLine
        >
        <hr class="bg-primary" />
      </li>
      <li>
        <hr class="bg-primary" />
        <TimeLine time="Apr 13, 2022" left="true" check="true">
          <a href="https://expressjs.com" target="_blank">Express</a></TimeLine
        >
        <hr class="bg-primary" />
      </li>
      <li>
        <hr class="bg-primary" />
        <TimeLine time="Fer 01, 2019" left="true" check="true">
          <a href="https://nestjs.com" target="_blank">NestJS</a></TimeLine
        >
        <hr class="bg-primary" />
      </li>
      <li>
        <hr class="bg-primary" />
        <TimeLine time="Dec 19, 2020" left="true" check="true">
          <a
            href="https://dotnet.microsoft.com/es-es/apps/aspnet"
            target="_blank">ASP.NET</a
          ></TimeLine
        >
        <hr class="bg-primary" />
      </li>
      <li>
        <hr class="bg-neutral-content" />
        <TimeLine time="WAITING"> Esperando...</TimeLine>
      </li>
    </ul>
    <h5 id="h2">Frameworks Frontend</h5>
    <ul class="timeline timeline-vertical">
      <li>
        <TimeLine time="Jan 02, 2020" left="true" check="true">
          <a href="https://reactjs.org" target="_blank">React</a></TimeLine
        >
        <hr class="bg-primary" />
      </li>

      <li>
        <hr class="bg-primary" />
        <TimeLine time="Dec 06, 2021" left="true" check="true">
          <a href="https://vuejs.org" target="_blank">Vue</a></TimeLine
        >
        <hr class="bg-primary" />
      </li>
      <li>
        <hr class="bg-primary" />
        <TimeLine time="Apr 13, 2020" left="true" check="true">
          <a href="https://blade-ui-kit.com" target="_blank">Blade</a></TimeLine
        >
        <hr class="bg-primary" />
      </li>
      <li>
        <hr class="bg-primary" />
        <TimeLine time="May 16, 2023" left="true" check="true">
          <a href="https://nextjs.org" target="_blank">NextJS</a></TimeLine
        >
        <hr class="bg-primary" />
      </li>
      <li>
        <hr class="bg-neutral-content" />
        <TimeLine time="WAITING"> Esperando...</TimeLine>
      </li>
    </ul>
    <h5 id="h2">Despliegues CD/CI</h5>
    <ul class="timeline timeline-vertical">
      <li>
        <TimeLine time="Dec 04, 2019" left="true" check="true">
          <a href="https://vercel.com" target="_blank">Vercel</a></TimeLine
        >
        <hr class="bg-primary" />
      </li>

      <li>
        <hr class="bg-primary" />
        <TimeLine time="Apr 11, 2020" left="true" check="true">
          <a href="https://cloud.google.com" target="_blank">Google Cloud</a></TimeLine
        >
        <hr class="bg-primary" />
      </li>
      <li>
        <hr class="bg-primary" />
        <TimeLine time="Nov 13, 2020" left="true" check="true">
          <a href="https://aws.amazon.com" target="_blank">Amazon Web Services</a></TimeLine
        >
        <hr class="bg-primary" />
      </li>
      <li>
        <hr class="bg-primary" />
        <TimeLine time="Apr 03, 2019" left="true" check="true"> 
          <a href="https://azure.microsoft.com/es-es" target="_blank">Azure</a></TimeLine
        <hr class="bg-primary" />
      </li>
      <li>
        <hr class="bg-primary" />
        <TimeLine time="Set 20, 2023" left="true" check="true">
          <a href="https://www.netlify.com" target="_blank">Netlify</a></TimeLine
        >
        <hr class="bg-primary" />
      </li>
      <li>
        <hr class="bg-primary" />
        <TimeLine time="Oct 23, 2022" left="true" check="true">
          <a href="https://www.digitalocean.com" target="_blank">Digital Ocean</a></TimeLine
        >
        <hr class="bg-primary" />
      </li>
      <li>
        <hr class="bg-primary" />
        <TimeLine time="Apr 11, 2023" left="true" check="true">
          <a href="https://www.render.com" target="_blank">Render</a></TimeLine
        >
        <hr class="bg-primary" />
      </li>
      <li>
        <hr class="bg-primary" />
        <TimeLine time="Apr 01, 2023" left="true" check="true">
          <a href="https://www.railway.app" target="_blank">Railway</a></TimeLine
        >
        <hr class="bg-primary" />
      </li>
      <li>
        <hr class="bg-neutral-content" />
        <TimeLine time="WAITING"> Esperando...</TimeLine>
      </li>
    </ul>

    <h5 id="h2">Librerías CSS</h5>
    <ul class="timeline timeline-vertical">
      <li>
        <TimeLine time="Mar 17, 2019" left="true" check="true">
          <a href="https://tailwindcss.com" target="_blank">Tailwind</a></TimeLine
        >
        <hr class="bg-primary" />
      </li>

      <li>
        <hr class="bg-primary" />
        <TimeLine time="Apr 13, 2022" left="true" check="true">
          <a href="https://getbootstrap.com" target="_blank">Bootstrap</a></TimeLine
        >
        <hr class="bg-primary" />
      </li>
      <li>
        <hr class="bg-primary" />
        <TimeLine time="Apr 13, 2022" left="true" check="true">
          <a href="https://materializecss.com" target="_blank">Materialize</a></TimeLine
        >
        <hr class="bg-primary" />
      </li>
      <li>
        <hr class="bg-primary" />
        <TimeLine time="Apr 13, 2022" left="true" check="true"> 
          <a href="https://bulma.io" target="_blank">Bulma</a></TimeLine
        <hr class="bg-primary" />
      </li>

      <li>
        <hr class="bg-neutral-content" />
        <TimeLine time="WAITING"> Esperando...</TimeLine>
      </li>
    </ul>

    <h5 id="h2">Manejo de Bases de Datos</h5>
    <ul class="timeline timeline-vertical">
      <li>
        <TimeLine time="Mar 17, 2019" left="true" check="true">
          <a href="https://mariadb.org/" target="_blank">MariaDB</a></TimeLine
        >
        <hr class="bg-primary" />
      </li>
      <li>
        <hr class="bg-primary" />
        <TimeLine time="Apr 13, 2022" left="true" check="true">
          <a href="https://www.microsoft.com/es-es/sql-server/sql-server-downloads" target="_blank">
            SQL Server</a></TimeLine
        >
        <hr class="bg-primary" />
      </li>
      <li>
        <hr class="bg-neutral-content" />
        <TimeLine time="WAITING"> Esperando...</TimeLine>
      </li>
    </ul>
    <h5 id="h2">Android</h5>
    <ul class="timeline timeline-vertical">
      <li>
        <TimeLine time="Mar 17, 2019" left="true" check="true">
          <a href="https://kotlinlang.org/" target="_blank">Kotlin</a></TimeLine
        >
        <hr class="bg-primary" />
      </li>
      <li>
        <hr class="bg-neutral-content" />
        <TimeLine time="WAITING"> Esperando...</TimeLine>
      </li>
    </ul>
  </BaseCard>
</BaseLayout>

<style></style>
