---
import BaseLayout from "../layouts/BaseLayout.astro";
import BaseCard from "../components/BaseCard.astro";
import TimeLine from "../components/page/TimeLine.astro";
---

<!doctype html>
<BaseLayout PageID="about">
  <BaseCard title="About Frosti">
    <h1 id="h1">Habiliades</h1>

    <h2 id="h2">Tecnologías utilizadas</h2>


    <h5 id="h2">Frameworks Backend</h5>
    <ul class="timeline timeline-vertical">
      <li>
        <TimeLine time="Mar 17, 2019" left="true" check="true">
          Laravel</TimeLine
        >
        <hr class="bg-primary" />
      </li>               
      <li>
        <hr class="bg-primary" />
        <TimeLine time="Apr 13, 2022" left="true" check="true">
          .NET</TimeLine
        >
        <hr class="bg-primary" />
      </li> 
      <li>
        <hr class="bg-primary" />
        <TimeLine time="Apr 13, 2020" left="true" check="true">
          NestJS</TimeLine
        >
        <hr class="bg-primary" />
      </li>         
      <li>
        <hr class="bg-neutral-content" />
        <TimeLine time="WAITING"> Esperando...</TimeLine>
      </li>
    </ul>
    <h5 id="h2">Frameworks Frontend</h5>
    <ul class="timeline timeline-vertical">
      <li>
        <TimeLine time="Mar 17, 2019" left="true" check="true">
          Vue.js</TimeLine
        >
        <hr class="bg-primary" />
      </li>
         
      <li>
        <hr class="bg-primary" />
        <TimeLine time="Apr 13, 2022" left="true" check="true">
          React</TimeLine
        >
        <hr class="bg-primary" />
      </li>    
      <li>
        <hr class="bg-primary" />
        <TimeLine time="Apr 13, 2022" left="true" check="true">
          Blade</TimeLine
        >
        <hr class="bg-primary" />
      </li>              
      <li>
        <hr class="bg-neutral-content" />
        <TimeLine time="WAITING"> Esperando...</TimeLine>
      </li>
    </ul>
  </BaseCard>
  
</BaseLayout>

<style></style>
