---
import BaseLayout from "../layouts/BaseLayout.astro";
import BaseCard from "../components/BaseCard.astro";
import FriendCard from "../components/page/FriendCard.astro";
---

<!doctype html>
<BaseLayout PageID="friend">
  <BaseCard title="Friend">
    <h1 id="h1">Friend</h1>
    <hr />
    <div class="grid grid-cols-2 gap-4">
      <FriendCard
        title="BsTasksApi"
        desc="Api de tipo REST para la gestión de tareas."
        url="https://www.saroprock.com"
        img="https://nestjs.com/logo-small-gradient.76616405.svg"
      />
      <FriendCard
        title="AvBitacoraApi"
        desc="Api de tipo REST para la gestión de bitácoras personales."
        url="https://www.saroprock.com"
        img="https://nestjs.com/logo-small-gradient.76616405.svg"
      />
      
     
    </div></BaseCard
  >
</BaseLayout>
