---
import BaseLayout from "../layouts/BaseLayout.astro";
import BaseCard from "../components/BaseCard.astro";
import FriendCard from "../components/page/FriendCard.astro";
---

<!doctype html>
<BaseLayout PageID="proyecto">
  <BaseCard title="proyecto">
    <h1 id="h1">Todos mis proyectos</h1>
    <hr />
    <div class="grid grid-cols-2 gap-4">
      <FriendCard
        title="BsTasksApi"
        desc="Api de tipo REST para la gesti칩n de tareas."
        url="https://api-task-git-main-ynvyauneenovores-projects.vercel.app/"
        img="https://nestjs.com/logo-small-gradient.76616405.svg"
      />
      <FriendCard
        title="AvBitacoraApi"
        desc="Api de tipo REST para la gesti칩n de bit치coras personales."
        url="https://api-task-6d370dmeo-ynvyauneenovores-projects.vercel.app/"
        img="https://nestjs.com/logo-small-gradient.76616405.svg"
      />
      <FriendCard
      title="portYovanEnovore"
      desc="Portafolio personal de YovanEnovore versi칩n anterior."
      url="https://yovanenovore.tech/portafolio/"
      img="https://yovanenovore.tech/portafolio/img/1.png"
    />   
    </div></BaseCard
  >
</BaseLayout>
