---
import BaseLayout from "../layouts/BaseLayout.astro";
import BaseCard from "../components/BaseCard.astro";
import FriendCard from "../components/page/FriendCard.astro";
---

<!doctype html>
<BaseLayout PageID="proyecto">
  <BaseCard title="proyecto">
    <h1 id="h1">Proyectos</h1>
    <hr />
    <div class="grid grid-cols-2 gap-4">
      <FriendCard
        title="portYovanEnovore"
        desc="Versión 0.2 de portafolio personal"
        url="https://yovan.yovanenovore.cloud/"
        img="https://raw.githubusercontent.com/ynvYauneEnovore/portYovanEnovore/main/public/1.png"
      />
    </div></BaseCard
  >
</BaseLayout>
