---
import BaseLayout from "../layouts/BaseLayout.astro";
import BaseCard from "../components/BaseCard.astro";
import FriendCard from "../components/page/FriendCard.astro";
---

<!doctype html>
<BaseLayout PageID="proyecto">
  <BaseCard title="proyecto">
    <h1 id="h1">Proyectos</h1>
    <hr />
    <div class="grid grid-cols-2 gap-4">
      <FriendCard
        title="portYovanEnovore"
        desc="Versi贸n ASTRO"
        url="https://yovan.yovanenovore.cloud/"
        img="/svg/astro.svg"
      />
      <FriendCard
        title="portYovanEnovore"
        desc="Versi贸n Next.js"
        url="https://my.yovanenovore.cloud/"
        img="/svg/next.svg"
      />
      <FriendCard
      title="Comercio Electr贸nico"
      desc="Tienda online frontend"
      url="https://yovanenovore.store"
      img="https://certificates.dev/images/vuejs/vuejs-badge.svg"
    />
    <FriendCard
    title="Comercio Electr贸nico"
    desc="Tienda online backend"
    url="https://yovanenovore.site/api/"
    img="https://certificates.dev/images/vuejs/vuejs-badge.svg"
  />
    </div></BaseCard
  >
</BaseLayout>
