---
import BaseLayout from "../layouts/BaseLayout.astro";
import BaseCard from "../components/BaseCard.astro";
import FriendCard from "../components/page/FriendCard.astro";
---

<!doctype html>
<BaseLayout PageID="proyecto">
  <BaseCard title="proyecto">
    <h1 id="h1">Proyectos</h1>
    <hr />
    <div class="grid grid-cols-2 gap-4">
      <FriendCard
        title="portYovanEnovore"
        desc="Versión ASTRO"
        url="https://yovan.yovanenovore.cloud/"
        img="https://raw.githubusercontent.com/ynvYauneEnovore/portYovanEnovore/main/public/1.png"
      />
      <FriendCard
      title="portYovanEnovore"
      desc="Versión Next.js"
      url="https://my.yovanenovore.cloud/"
      img="https://raw.githubusercontent.com/ynvYauneEnovore/portYovanEnovore/main/public/1.png"
    />
    <FriendCard
    title="OSpersonal"
    desc="Sistema web personal"
    url="https://yovanenovore.tech"
    img="https://raw.githubusercontent.com/ynvYauneEnovore/portYovanEnovore/main/public/1.png"
  />
    </div></BaseCard
  >
</BaseLayout>
