---
import BaseLayout from "../layouts/BaseLayout.astro";
import BaseCard from "../components/BaseCard.astro";
import FriendCard from "../components/page/FriendCard.astro";
---

<!doctype html>
<BaseLayout PageID="proyecto">
  <BaseCard title="proyecto">
    <h1 id="h1">Proyectos</h1>
    <hr />
    <div class="grid grid-cols-2 gap-4">
      <FriendCard
        title="portYovanEnovore"
        desc="Versión ASTRO"
        url="https://yovan.yovanenovore.cloud/"
        img="/svg/astro.svg"
      />
      <FriendCard
        title="portYovanEnovore"
        desc="Versión Next.js"
        url="https://my.yovanenovore.cloud/"
        img="/svg/next.svg"
      />
      <FriendCard
        title="OSpersonal"
        desc="Sistema web personal"
        url="https://yovanenovore.site"
        img="https://raw.githubusercontent.com/ynvYauneEnovore/portYovanEnovore/main/public/1.png"
      />
      <FriendCard
        title="LaboratorioGYM"
        desc="Flujo de trabajo de un lab."
        url="https://www.laboratoriohgg.pro/"
        img="/svg/laravel.svg"
      />
      <FriendCard
        title="YPFB"
        desc="Gestión de ventas, etc."
        url="https://transportegya.site/"
        img="/svg/laravel.svg"
      />
    </div></BaseCard
  >
</BaseLayout>
