---
const today = new Date();
---

<footer class="footer card bg-base-100 shadow-xl p-6">
  <div class="date">
    &copy; {today.getFullYear()} YovanEnovore ❤️
  </div>
  <div class="inline">
    Developed by <a
      href="https://www.yovanenovore.tech"
      target="_blank"
      class="font-bold">Yovan Enovore</a
    > using
    <a
      href="https://astro.build"
      target="_blank"
      class="font-bold">Astro</a
    >
  </div>
</footer>
